*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.idea/
*.iml
.vscode/
.settings/
.project
.classpath

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

out/
target/
build/
bin/

*.tmp
*.temp
*~

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
/gradlew
/gradlew.bat

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
